@import url('https://fonts.googleapis.com/css2?family=Exo:wght@300;400&display=swap');

body {
    font-family: Exo, Arial, sans-serif;
}
.form-action-button {
    background: transparent;
    color: white;
    text-shadow: 1px 1px 8px black;
    border: 0;
}

#form-picker {
    background-color: white;
    height: 100%;
}

.form-action-container  {
    max-height: 30px;
    height: 100%;
}

.footerSection {
    position: fixed;
    bottom: 0;
    background: red;
    height: 30px;
    width: 100%;
    transition: 0.5s ease-out;
}

.footerSection.active {
    height: 100% !important;
}